body {
  background-color: #2E363F;
  overflow: hidden;
}

#loginbox {
  width: 450px;
  margin: 10% auto;
}

#loginbox .content h2 {
  padding: 10px 10px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  background: #2E363F;
  color: #B2DFEE;
}

#loginbox .content .loginform {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid #616161;
  border-bottom: 1px solid #616161;
}

#loginbox .content .loginform .control-group {
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
  color: #666;
}

#loginbox .content .loginform .control-group .control-label {
  display: block;
  margin-bottom: 5px;
  padding-left: 4px;
  color: #B2DFEE;
  font-size: 14px;
  line-height: 20px;
}

#loginbox .content .loginform .control-group .control-label:hover {
  cursor: pointer;
}

#loginbox .content .loginform .control-group .controls .userimg {
  float: left;
  width: 48px;
  height: 38px;
  padding: 4px 0 0 12px;
  background: #28b779;
  box-sizing: border-box;
}

#loginbox .content .loginform .control-group .controls .userinf {
  display: block;
  float: left;
  height: 30px;
  margin-left: 5px;
  padding: 5px 6px 3px;
  color: #555555;
  font-size: 14px;
  border: none;
  width: 85%;
  line-height: 28px;
  margin-bottom: 3px;
}

#loginbox .content .loginform .form-action {
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 20px 4px 15px 4px;
}

#loginbox .content .loginform .form-action .forget-pwd {
  padding: 4px 12px;
  line-height: 20px;
  background-color: #49afcd;
}

#loginbox .content .loginform .form-action .login-btn {
  width: 335px;
  padding: 4px 12px;
  background-color: #5bb75b;
  line-height: 20px;
  box-sizing: border-box;
}